*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cat {
  position: absolute;
  left: 150px;
  bottom: 0;
}

/*----------Creando variaciones------*/
@media(max-width: 768px){
  .picture {
    background-image: url(../assets/images/night.jpg);
    background-position: center;
    background-size: cover;
  }

  .large {
    display: none;
   }

   .small {
    display: block;
    height: 100vh;
   }

   .medium {
    display: none;
   }
}

@media (min-width: 768px){
    .picture {
      background-image: url(../assets/images/sunny-day.jpg);
      background-position: center;
      background-size: cover;
    }

    .large {
      display: none;
     }

     .small {
      display: none;
     }

     .medium {
      display: block;
      height: 100vh;
     }
}

@media (min-width: 992px) {
  .picture {
    background-image: url(../assets/images/dawn.png);
    background-size: cover;
    background-position: center;
  }

  .large{
   display: block;
   height: 100vh;
  }
  .small {
    display:none;
  }

  .medium {
    display: none;
  }
}
